@font-face {
    font-family: Jost;
    src: url(../font/Jost-VariableFont_wght.ttf);
}
body {
    font-family: Jost, Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #2d2a2e;
    color: #bebebe;
    display: flex;
    justify-content: center;
}

.text-container {
    width: 800px
}

.mudarPagina-container {
    display: flex;
}

.mudarPagina {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

h1,h2, .titulo {
    color: #ddd;
    font-weight: bold;
}

h2, .titulo {
    font-size: 20px;
}

h1 {
    text-align: left;
}

.hover {
    color: rgb(109, 143, 255);
    font-weight: bold;
    padding: 0 4px 0 4px;
}


.hover:hover {
    background-color: rgb(109, 143, 255);
    color: #2d2a2e;
    border-radius: 4px;

}