@font-face {
    font-family: Jost;
    src: url(../font/Jost-VariableFont_wght.ttf);
}
.text-container {
    max-width: 900px; 
}

.text-container p {
word-wrap: break-word;
overflow-wrap: break-word;
}
h1,h2,h3 {
    color: black;
}
h1 {
    text-align: left;
}
body {
    font-family: Jost, Arial, Helvetica, sans-serif;
    text-align: justify;
    color: rgb(43, 43, 43);
    line-break: 50%;
}
a {
    color: rgb(72, 72, 219);
    font-weight: bold;
}



.hover:hover {
    background-color: rgb(161, 186, 255);
    border-radius: 5px;

}